<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.twt.dao.EdocEntryMapper">

    <resultMap id="EdocEntryMap" type="EdocEntry">
        <id property="id" column="id"/>
        <result property="categoryId" column="categoryId"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="uploaduser" column="uploaduser"/>
        <result property="createDate" column="createDate"/>
        <association property="edocCategory" javaType="EdocCategory" column="categoryId">
            <id property="id" column="cid"/>
            <result property="name" column="cname"/>
        </association>
    </resultMap>

    <select id="queryEdocEntryPageList" resultMap="EdocEntryMap">
        SELECT e.id,e.`categoryId`,e.`title`,e.`createDate`,e.`summary`,e.`uploaduser`,
        c.id cid,c.name cname FROM edoc_entry e,edoc_category c WHERE e.categoryId = c.id
        <if test="categoryId!=null and categoryId!=''">
            and c.id = #{categoryId}
        </if>
        limit #{currPageNo},#{pageSize}
    </select>

    <delete id="delEdocEntry">
        DELETE FROM `edoc_entry` WHERE `id` = #{id}
    </delete>

    <select id="EdocEntryCount" resultType="int">
         SELECT COUNT(1) FROM edoc_entry
    </select>

    <select id="queryEdocCategoryAll" resultType="EdocCategory">
        select id,name from edoc_category
    </select>
</mapper>